<div class="overlay"></div>
<section>
  <div class="animate d-flex align-items-center justify-content-center">
    <div class="text text-center">
      <span class="subheading">Hey! I am</span>
      <h1>Matan Shomer</h1>
      <h2>
        I'm a
        <span class="txt-rotate">
          <span class="wrap">{{ role$ | async }}</span>
        </span>
      </h2>
    </div>
  </div>
</section>
<div class="nav-arrow-down">
  <div class="rhombus">
    <span class="fa fa-long-arrow-alt-down"></span>
  </div>
</div>
